[submodule "ext/cub"]
	path = ext/cub
	url = https://github.com/NVlabs/cub.git
[submodule "ext/moderngpu"]
	path = ext/moderngpu
	url = https://ctcyang@github.com/ctcyang/moderngpu.git
	branch = apspie
[submodule "ext/cudpp"]
	path = ext/cudpp
	url = https://github.com/cudpp/cudpp.git
[submodule "ext/bhsparse"]
	path = ext/bhsparse
	url = https://github.com/bhSPARSE/Benchmark_SpGEMM_using_CSR.git
